<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__ . '/src')
    ->in(__DIR__ . '/tests');

return PhpCsFixer\Config::create()
    ->setFinder($finder)
    ->setRules([
        '@PhpCsFixer' => true,
        '@Symfony' => true,
        '@PSR1' => true,
        '@PSR2' => true,
        'array_syntax' => ['syntax' => 'short'],
        'no_superfluous_phpdoc_tags' => false,
        'phpdoc_add_missing_param_annotation' => [
            'only_untyped' => false
        ],
        'php_unit_test_class_requires_covers' => false,
        'php_unit_internal_class' => false,
    ]);