<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Tracker</title>
</head>
<body>
<h1>QA Tracker</h1>
{% for graphData in graphs %}
    <div class="chart">
        {{ graphData.graph|raw }}
    </div>
{% endfor %}
{{ js|raw }}
</body>
</html>