<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Tracker</title>
</head>
<body>
<h1>QA Tracker</h1>
{% for graphData in graphs %}
    {{ graphData.graph|raw }}
    {{ graphData.js|raw }}
{% endfor %}
</body>
</html>